*{
    margin: 0px;
    padding: 0px;    
}

body{
    font-family: 'Lato', sans-serif;
}

/* menu-section starts here */

/* .menu-container{
    padding-bottom: 20px;
    display: flex;
} */


.menu-list{
    width: 1922px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    color: #dc742f;
    background-color: rgb(233, 223, 176);
}

.menu-logo{
    width: 200px;
    /* height: 200px; */
    /* padding: 5px 10px; */
}

.menu-options:hover{
    color: grey;
    cursor: pointer;
}

/* banner-section starts here... */

.banner-container{
    width: 1922px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 97px; */
}

.banner-text{
    padding-top: 197px;
    padding-left: 240px;
    padding-bottom: 147px;
}

.banner-img-flower{
    width: 635px;
    height: 800px;
    padding-top: 50px;
    padding-right: 240px;
}

.banner-head{
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-paragraph{
    width: 634px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-btn{
    padding: 20px 43px;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* featured section starts here */

/* .featured-section{
   height: 100vh;
   width: 1920px;
   height: 4867px;
} */

.featured-heading{
    padding-top: 178px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.featured-flowers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 316px;
    padding-right: 316px;
    gap: 24px;
   
}

.bg-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-2{
    width: 310px;
    height: 428px;
    margin-top: 110px;
    margin-left: 76px;
    margin-right: 78px;

}

.bg-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-3{
    width: 370px;
    height: 370px;
    margin-top: 200px;
    margin-right: 47px;
    margin-bottom: 51px;
    margin-bottom: 47px;
}

.bg-4{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background:rgba(71, 125, 17, 0.15);
}

.flower-4{
    width: 314px;
    height: 471px;
    margin-top: 67px;
    margin-left: 75px;
    margin-right: 75px;
}

.flower-p{
    text-align: center;
    padding-top: 32px;
}

/* delivery section starts here */

.flower-delivery{
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: auto;
    margin-top: 195px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.delivery-p{
    padding-top: 25px;
}

/* sell-up-section starts here */

.sell-up-section{
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    /* padding-top: 128px; */
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 215px;
}

.sell-up-h{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

span{
    color: #E55473;
}

.sell-up-p{
    padding-top: 24px;
    padding-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
}

.sell-up-text{
   text-align: center;
}

.sell-up-btn{
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* insta section starts here */

.insta-info{
    text-align: center;
}

.insta-head{
    padding-top: 128px;
}

.insta-p{
    padding-top: 24px;
    padding-bottom: 48px;

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    
}

.insta-image{
    display: flex;
    justify-content: center;
    gap: 24px;
    /* padding-top: 48px; */
}

.form-section{
    text-align: center;
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    margin: auto;
    margin-top: 128px;
    background-image: url("./Flower-Asset/Rectangle\ 9.png");
}

.form-head{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}

.form-p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; */
    padding-top: 16px;
    padding-bottom: 48px;
}

#email{
    width: 500px;
    height: 20px;
    border-radius: 8px;
    border: none;
    background: #FFF;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 22px;

    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

form{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.form-btn{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    border: none;
    background-color: #E55473;
    padding: 18.29px 31px;
    cursor: pointer;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

/* footer-section starts here */

.footer-section{
    margin-top: 128px;
    width: 1922px;
    height: 50vh;
    background-color: #111010;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-header{
    font-size: 48px;
    font-weight: 800;
}

.footer-spn{
    color: #E55473;
}

.footer-p{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.footer-p-small{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}
